<!DOCTYPE html>
<html>
<head>
	<title>Trombino-TRIOCOM</title>
	<link rel="stylesheet" type="text/css" href="../static/css/simplonstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/perso.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div class="nav">
	<ul>
		<li class="collapse"><a>☰</a></li>
		<li><a>Accueil</a></li>
		<li><a href="{{ url_for('index') }}">Le trombino</a></li>
	</ul>
</div>
<div id="accueil_container">

	<h1 class="bloc_perso" id="bloc_accueil">Ami entends-tu le chant noir du corbeau sur la plaine</h1>
</div>
<div class="footer dflexcenter alignItems">
		<div class="">Copyright Lannurien Voctor & Poirier Hervé
</div>
<script type="text/javascript" src="script/script.js"></script>
</body>